<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <timestamp key="LOG_DATE" datePattern="yyyyMMdd"/>

    <!--dev環境用設定 -->
    <springProfile name="dev">
        <property name="LOG_FILE" value="/Users/shumiya/Desktop/dev/logs/shumipro.log" />
    </springProfile>

    <!--product環境用設定 -->
    <springProfile name="product">
        <property name="LOG_FILE" value="/opt/tomcat-9/logs/shumipro.log" />
    </springProfile>

  　<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    　　<encoder>
      　　<pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{0} - %msg \(%file:%line\)%n</pattern>
    　　</encoder>
 　　</appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{0} - %msg \(%file:%line\)%n</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <fileNamePattern>${LOG_FILE}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>